body{
  font-family: 'Oswald', sans-serif;
background: #bcb06b;
  margin,padding:0;
  

}
#calculator{
  overflow: hidden;
  z-index: 20;
  position: absolute;
  left:40%;
  margin:20px auto;
   border-radius:10px;
background-color:#2d323a;
  width:500px;
  height:600px;}
#total{
  font-family: 'Oswald', sans-serif;
  position:relative;
  text-align:right;
  font-size:50px;
  color:white;
  text-decoration:none;
  border:10px solid #211e1f;
 box-shadow: 1px 1px 1px black;
  width:425px;
  height:100px;
  background-color:#bcdba4;
  margin:20px 20px;
  text-align:right;
  padding-right: 3px;

}
a{
  cursor:pointer;
}
}
#operators{

  width: 300px;
  height:80px;
  
  background-color:#2d323a;
}
#operators a{
   border-radius:10px;
  width:60px;
  height:40px;
  
  color:white;
  font-size:30px;
  text-decoration:none;
  margin:13px;
  background-color:#b52968;
  padding:5px;
  text-align:center;
  display:block;
  float:left;
  box-shadow: 1px 1px 1px 1px black;
}
#numbers{
  width:100%;
  height:500px;
   border-radius:10px;
  background-color:#2d323a;
  margin-left: 20px;
}
#numbers a{
  box-shadow: 1px 1px 1px 1px black;
  color: white;
  width:100px;
  height:60px;
  display:block;
  float:left;
  margin-top:20px;
  padding:1px;
  margin-left:40px;
  text-align:center;
  background-color:#2a2b24;
  font-size:40px;
  text-decoration:none;
  border-radius:10px;
  
  
  
}
#equals{
  background-color: #d4ea67;
}

p{
  display: none;
  z-index: 10;
}
